.drawer {
    height: 97vh;
    width: 510px;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    right: 0;
    /* right: -547px;  */
    background-color: rgb(243, 243, 243);
    display: grid;
    grid-template-rows: 50px 40px 1fr 1fr;
    animation: all 3s;
    transition: left .5s cubic-bezier(0.820, 0.085, 0.395, 0.895);
    overflow-y: scroll;
}
.drawer-header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    margin-bottom: 10px;
    align-self: start;
    position: sticky;
    top: -10px;
    background-color: rgb(238, 238, 238);
    padding: 5px;
}
.drawer-title {
    justify-self: center;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    color: #858585;
}
.close-side-bar {
    padding: 5px;
    height: 15px;
    width: 15px;
    border-radius: 100px;
    border: 1px solid rgb(207, 207, 207);
    justify-self: start;
    cursor: pointer;
}
.close-side-bar:hover {
    border: 1px solid #e7e7e7;
}
.currency-selection {
    width: 70px;
    padding: 10px;
    border: none;
    justify-self: start;
    align-self: start;
    cursor: pointer;
    user-select: none;
    outline: none;
    position: sticky;
    top: 39px;
    border: 1px solid rgb(226, 226, 226);
    background-color: rgb(238, 238, 238);

}
.checkout-section {
    display: grid;
    align-self: end;
    border: 1px solid rgb(199, 199, 199);
    height: 150px;
    padding: 15px;
    margin-top: 20px;
    position: sticky;
    bottom: -10px;
    background-color: rgb(243, 243, 243);

}
.checkout-button {
    cursor: pointer;
    outline: none;
    user-select: none;
    border: none;
    padding: 15;
    background-color: rgb(75, 85, 72);
    color: #ffffff;
    min-width: 200px;
    min-height: 52px;
    text-align: center;
    align-self: end;
    text-transform: uppercase;
}
.checkout-product {
    padding: 20px;
    margin-top: 10px;
    height: 110px;
    background-color: #fff;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    overflow-y: scroll;
}
.checkout-product-details {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: start;
    font-size: 14px;
}
.checkout-product-name {
    font-weight: bold;
    text-align: left;
}
.checkout-product-meta {
    font-size: 12px;
}
.checkout-produxt-price {
    align-self: end;
    margin-bottom: 10px;
    color: #4d4d4d;
    font-size: 14px;
}
.checkout-product-image {
    height: 80px;
    width: 80px;
}
.total {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.subtotal-title {
    justify-self: start;
    font-size: 14px;
    color: #4d4d4d;
}
.subtotal-amount {
    justify-self: end;
    font-weight: bold;
    font-size: 16px;
    margin-right: 5px;
}
.quantity-control {
    padding: 8px 5px;
    border: 1px solid rgb(209, 209, 209);
    width: 70px;
    display: grid;
    grid-template-columns: 20px 1fr 20px;
}
.quantity-control-button {
    cursor: pointer;
    user-select: none;
}
.mask {
    background-color: rgba(150, 150, 150, 0.95);
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
}
.empty-cart {
    margin: auto;
}
.empty-cart-text {
    font-size: 11px;
}