.filter-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 100px;
    height: 80px;
}
.page-caption {
    justify-self: start;
}
.page-caption__caption {
    text-align: left
}
.filter {
    justify-self: end;
    width: 400px;
    height: 57px;
    font-size: 16px;
    user-select: none;
    outline: none;
    padding: 7px;
    border-radius: 0px;
    border: 1px solid #dedede;
    cursor: pointer;
}